body{
  font-family: monospace;
  font-style: normal;
  font-variant: normal;
}

.hov{
  cursor: pointer;
}

#title{
  font-size: 70px;
  text-align: center;
  padding-top: 25px;
}

.nav{
  text-align: center;
}

.lnk{
  color: #3366BB;
} 

.lnk:hover{
  cursor: pointer;
  text-decoration: none;
}

#note{
  padding-top: 12px;
  text-align: center;
}

#about_content{
  padding-top: 12px;
  text-align: center;
  
}

#about_content_head{
  
}

#about_content_list{
  text-align: left;
  border-style: solid;
  list-style-type: none;
}

#social{
  display: inline;
}

#c{
  text-align: center;
  color: #BBBBBB;
  padding-top: 12px;
}
